body {
 
    background-color: wheat;


}


header.cabecera{

    background-color: deepskyblue;
    
    text-align: center;

    color: orange;
}



article.texto{

    
    background-color: white;
  


}

blockquote.texto{

    background-color: darkturquoise;



}

image.empresa{

    float:right;

}

image.empresa2{

    float:right;

}

article.servicios{

    background-color: yellow;

    color: blue;
}
